<app-nav></app-nav>
<div class="row " style="padding-top: 3%; padding-bottom:3%;background-image: url(../../assets/files/gettyimages-1132439283-640x640.jpg);
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg">
        <form>
          <h2 class="text-primary font-weight-bold">Sign Up</h2>
          <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="!form.error && form.message == 'User has been registered'" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>First Name</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="firstName" [(ngModel)]="form.firstName" class="form-control"
                  placeholder="Enter First Name">
              </div>
            </div>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>Last Name:</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="lastName" [(ngModel)]="form.lastName" class="form-control"
                placeholder="Enter Last Name">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.firstName}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>Login Id: </b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="email" [(ngModel)]="form.login" class="form-control" placeholder="Enter Email Id">
            <span class="alertRedColor"> {{inputerror.email}} </span>
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.Login}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>Password</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="password" name="password" [(ngModel)]="form.password" class="form-control"
              placeholder="Enter Password">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.password}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>Mobile:</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="phone" [(ngModel)]="form.data.phone" class="form-control"
                  placeholder="Enter Number">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.phone}} </span>
          </div> 

          <div style="padding-top:3%">
            <span class="pt-2"><b>Alternate Mobile:</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="alternateMobile" [(ngModel)]="form.data.alternateMobile" class="form-control"
                  placeholder="Enter Alternate Number">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.phone}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>DOB:</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="date" name="dob" [(ngModel)]="form.data.dob" class="form-control">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.dob}} </span>
          </div>

          <div style="padding-top:3%">
            <span class="pt-2"><b>Gender</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <select class="form-control" name="gender" id="gender" [(ngModel)]="form.data.gender"
                  style="cursor: pointer;">
                  <option selected="true">Please select</option>
                  <option value="Male">Male </option>
                  <option value="Female">Female </option>
                </select>
              </div>
            </div>
          </div>   
          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button (click)="submit()"  class="btn btn-success mr-2">
                Sign up</button>
            </div>
            <div class="pt-2">
              <button (click)="forward('/login')" type="button" class="btn btn-warning mr-1">Login
              </button></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>













